/* h6 {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        font-weight: 600;
    } */